<label class="pageHeading">Control Centre</label> <!-- page title -->
<div id="connectionList" class="vSpace"> <!-- div to show list of connections-->
    <div class="container"> <!-- main container with flex properties -->
        <% for( let i = 0; i < cArr.length; i++ ) { %> <!-- iterate through each connection object-->
            <div id="<%= cArr[i].uec %>" data-location="<%= cArr[i].location %>" data-online="<%= cArr[i].online %>" data-status="offline" class="cBox">
                <!-- new div with data attributes for a connection pad-->
                <div class="iconSpaceL ttb"> <!-- div for connection content -->
                    <label title="Location" class="dPadLocation"><%= cArr[i].location %></label> <!-- connection's device location -->
                    <% if (cArr[i].online) { %> <!-- run HTML below if the device is online -->
                        <label id="<%= cArr[i].uec %>statLabel" class="custom-label online"> <!-- status label with classing -->
                            <i class="uecStatIcon fa-solid fa-circle"></i> 
                            <!--<span class="uecStatText">Online</span>-->
                        </label>
                    <% } else { %> <!-- run HTML code below if device is not online (aka. offline)-->
                        <label id="<%= cArr[i].uec %>statLabel" class="custom-label offline"> <!-- status label with classing -->
                            <i class="uecStatIcon fa-solid fa-circle"></i>
                            <!--<span class="uecStatText">Offline</span>-->
                        </label>
                    <% } %>
                    <label title="UEC" class="dType">#<%= cArr[i].uec %></label> <!-- show the UEC with a leading hashtag -->
                    <div class="cIcons"> <!-- div with icons in a horizontal row in order [get event log (book), get live image (camera), play sound (speaker)]-->
                        <label onclick="getEventLog(this.parentNode.parentNode.parentNode)" title="Get event log" class="cIcon"><i class="fa-solid fa-book"></i></label>
                        <label onclick="sendCommand(this.parentNode.parentNode.parentNode, '0')" title="Get real time image" class="cIcon"><i class="fa-solid fa-camera"></i></label>
                        <label onclick="sendCommand(this.parentNode.parentNode.parentNode, '1')" title="Play sound on device" class="cIcon"><i class="fa-solid fa-volume-high"></i></label>
                    </div>
                    <button class="standardButton tblBtn noGap <%= cArr[i].status.toLowerCase() %>"
                        name="<%= cArr[i].uec %>"
                        value="<%= cArr[i].status %>"
                        onclick="toggleStatus(this.name, this.value, this)">
                        <%= cArr[i].status %>
                    </button>
           
                </div>                
            </div>
        <% } %>   
    </div>
    <!--
    <label class="gHeading vSpace">Connections:</label>
    <table id="connectionTable">
        <tr>
            <th class="heading">UEC</th>
            <th class="heading">Location</th>
            <th class="heading">Status</th>
            <th class="heading">Visibility</th>
            
        </tr> 
        <% if (cArr) { %>
            <% cArr.forEach(connection => { %>
                <tr class="tableRow" id="<%= connection.uec %>" data-location="<%= connection.location %>">
                    <td class="dataCell"><%= connection.uec %></td>
                    <td class="dataCell"><%= connection.location %></td>
                    <td class="dataCell">
                        <button class="standardButton tblBtn <%= connection.status.toLowerCase() %>"
                            name="<%= connection.uec%>"
                            value="<%= connection.status %>"
                            onclick="toggleStatus(this.name, this.value, this)">
                            <%= connection.status %>
                        </button>
                    </td>
                    <td class="dataCell"><%= connection.visibility %></td>
                    <td class="finalCell" title="Event Log" onclick="getEventLog(this.parentNode)">
                        <i class="commandIcon fa-solid fa-book"></i>
                    </td>
                    <td class="finalCell" id="liveimage" title="Live Image" onclick="sendCommand(this.parentNode, '0')">
                        <i class="commandIcon fa-solid fa-camera"></i>
                    </td>
                    <td class="finalCell" id="playsound" title="Play Sound" onclick="sendCommand(this.parentNode, '1')">
                        <i class="commandIcon fa-solid fa-volume-high"></i>
                    </td>
                </tr>
            <% }) %>
        <% } %>

    </table>
    -->
</div>

<div class="divRow"> <!-- create a row of divs (event log, and live image view)-->
    <div id="eventLog" class="vSpace"> <!-- parent div for events log -->
        <label class="gHeading vSpace">Events:</label> <!-- section heading -->
        <div id="filterBox"> <!-- div to house all filter and sort options  -->
            <div id="filterCriteria"> <!-- row of buttons with each filter option and sort by button with data attributes-->
                <button data-crit="location" onclick="filterOptionDisplay(this.dataset.crit)" class="filterCrit">Location<i class="iconSpaceL fa-solid fa-chevron-down"></i></button>
                <button data-crit="time" onclick="filterOptionDisplay(this.dataset.crit)" class="filterCrit">Time<i class="iconSpaceL fa-solid fa-chevron-down"></i></button>
                <button data-crit="status" onclick="filterOptionDisplay(this.dataset.crit)" class="filterCrit">Status<i class="iconSpaceL fa-solid fa-chevron-down"></i></button>
                <button data-crit="event" onclick="filterOptionDisplay(this.dataset.crit)" class="filterCrit">Event<i class="iconSpaceL fa-solid fa-chevron-down"></i></button>
                <button data-crit="sortby" onclick="filterOptionDisplay(this.dataset.crit)" class="linkButtonStyle">Sort by</button>

            </div>
            <!-- all dd-options divs are hidden until the user clicks on a filter or sort button -->
            <div id="locationOptions" class="dd-options"> <!-- options div to show locations to filter by-->
            </div> <!-- locations will be dynamically loaded -->
            <div id="timeOptions" class="dd-options"> <!-- options div to show times to filter by-->
                <div class="dd-option"> <!-- option to show previous hour -->
                    <input id="hourDDO" class="timeFO" name="timeFilter" type="checkbox">
                    <label for="hourDDO">Previous hour</label>
                </div>
                <div class="dd-option"> <!-- option to show previous day (24 hours) -->
                    <input id="dayDDO" class="timeFO" name="timeFilter" type="checkbox">
                    <label for="dayDDO">Previous day</label>
                </div>
                <div class="dd-option"> <!-- option to show previous week (7 days) -->
                    <input id="weekDDO" class="timeFO" name="timeFilter" type="checkbox">
                    <label for="weekDDO">Previous week</label>
                </div>
                <div class="dd-option"> <!-- option to show previous month (30 days) -->
                    <input id="monthDDO" class="timeFO" name="timeFilter" type="checkbox">
                    <label for="monthDDO">Previous month</label>
                </div>
            </div>
            <div id="statusOptions" class="dd-options"> <!-- options div to show status' to filter by-->
                <div class="dd-option"> <!-- option to show only events from devices that are online -->
                    <input id="onlineStat" type="checkbox">
                    <label for="onlineStat">Online</label>
                </div>
                <div class="dd-option"> <!-- option to show only events from devices that are not online -->
                    <input id="offlineStat" type="checkbox">
                    <label for="offlineStat">Offline</label>
                </div>
            </div>
            <div id="eventOptions" class="dd-options"><!-- options div to show event types to filter by-->
            </div> <!-- dynamically loaded in JS-->
            <div id="sortbyOptions" class="dd-options"> <!-- options div to select how to sort events in event log-->
                <div class="dd-option"> <!-- newest to oldest option [default]-->
                    <input id="ntoSB" name="sortbyCrit" type="radio">
                    <label for="ntoSB">Newest to oldest</label>
                </div>
                <div class="dd-option"> <!-- oldest to newest option-->
                    <input id="otnSB" name="sortbyCrit" type="radio">
                    <label for="otnSB">Oldest to newest</label>
                </div>
            </div> <!-- radio buttons are used as one must always be selected -->

        </div>
        <div id="elContainer"> <!-- event log container to show the actual events to be loaded dynamically using JS -->      
        </div>
        <!--
        <div id="elSettings" class="divRow">
           <div class="dropdownZone">
                <label class="filterLabel" onclick="toggleDropdown(this)">
                    Location
                </label>
                <div id="locationOptions" class="dd-options">
                </div>
           </div>
           <div class="dropdownZone">
                <label class="filterLabel" onclick="toggleDropdown(this)">
                    Time
                </label>
                <div id="timeOptions" class="dd-options">
                    <div class="dd-option">
                        <input id="hourDDO" name="timeFilter" type="checkbox">
                        <label for="hourDDO">Previous hour</label>
                    </div>
                    <div class="dd-option">
                        <input id="dayDDO" name="timeFilter" type="checkbox">
                        <label for="dayDDO">Previous day</label>
                    </div>
                    <div class="dd-option">
                        <input id="weekDDO" name="timeFilter" type="checkbox">
                        <label for="weekDDO">Previous week</label>
                    </div>
                    <div class="dd-option">
                        <input id="monthDDO" name="timeFilter" type="checkbox">
                        <label for="monthDDO">Previous month</label>
                    </div>
                </div>
            </div>
        </div>
        
        <div id="elContainer">        
        </div>-->
        

    
    
    </div>
    
    <div id="imageCapture" class="vSpace"> <!-- div for live image view-->
        <label class="gHeading vSpace">Live Image:</label> <!-- section heading -->
        <br> <!-- add break -->
        <div id="defaultIconDiv"> <!-- div for default icon (hidden once a live image is requested by the user by clicking the command buttons)-->
            <object id="defaultIcon" data="/media/logo/svgs/zoomed-text+icon.svg"></object> <!-- object with link to SVG file of logo -->
        </div>
        <img id="capturedLiveImage"> <!-- image object for any captured images to load into-->
    </div>
    
</div>
<script src="/js/controlCentre.js" defer></script> <!-- run controlCentre.js client script after page loads -->



<!--<div id="buttonsDiv">
    <button id="addDeviceBtn"
    class="standardButton ccPageBtn"
    onclick="">Arm</button>
    
    <button id="addDeviceBtn"
    class="standardButton ccPageBtn"
    onclick="">Disarm</button>
</div>-->

